    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .title {
        margin-top: 50px;
        text-align: center;
        span {
            color: #5866b3;
        }
    }
    
    .text {
        margin-top: 30px;
        color: #5866b3;
        font-weight: 700;
        font-size: 20px;
    }
    
    .todo {
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
        margin: 15px auto;
        padding-top: 50px;
        background: -webkit-linear-gradient(45deg, rgb(252, 252, 252), rgb(147, 144, 213) 81%);
        background: -moz-linear-gradient(45deg, rgb(252, 252, 252), rgb(147, 144, 213) 81%);
        background: linear-gradient(45deg, rgb(252, 252, 252), rgb(147, 144, 213) 81%);
    }
    
    .todo__input {
        position: relative;
    }
    
    .todo__text {
        outline: none;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        padding: 6px 34px 10px 10px;
        width: 225px;
    }
    
    .todo__text:focus {
        border-color: #dcedc8;
    }
    
    .todo__add {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        height: 26px;
        width: 26px;
        background-color: #5866b3;
        cursor: pointer;
    }
    
    .todo__add:hover {
        background-color: #3145b8;
    }
    
    .todo__save {
        cursor: pointer;
        width: 110px;
        height: 35px;
        background-color: #5866b3;
        text-align: center;
        color: #e0e0e0;
        border-radius: 4px;
        border: none;
        margin-left: 15px;
        &:active {
            transform: scale(0.95);
        }
        &:hover {
            background-color: #3145b8;
        }
    }
    
    .todo__text:disabled+.todo__add {
        cursor: default;
        background-color: #5866b3;
        opacity: 0.5;
    }
    
    .todo__add::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z' class=''%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .todo__items {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .todo__items {
        list-style-type: none;
        margin-top: 15px;
        display: flex;
        margin-left: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .todo__items-item {
        display: inline-block;
        position: relative;
        font-weight: 300;
        font-size: 20px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 15px;
        padding-right: 40px;
        span {
            display: block;
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url('../icons/Star.svg') center (center / cover) no-repeat;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            display: block;
            width: calc(100% - 40px);
            height: 2px;
            background-color: #FFD500;
        }
        &:hover {
            .delete {
                content: '';
                display: block;
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url('../icons/trash.png') center (center / cover) no-repeat;
                cursor: pointer;
            }
            .plus {
                content: '';
                display: block;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url('../icons/right.png') center (center / cover) no-repeat;
                cursor: pointer;
            }
        }
    }